<a href="https://colab.research.google.com/github/Ebasurtos/clase1-progrmacion101/blob/main/BASURTO_SIUCE%2C_Eder_TAREA_2_(Semana_3_PROGRAMACION_01).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1.1:** Operaciones numéricas con listas

*  Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).
* Calcula la media de los valores de la lista usando las funciones sum() y len().
* Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.
* Crea una lista que contenga solo los números mayores a 50, multiplicados por 2

In [4]:
#1 LISTA
lista = list(range(1,101))
print(lista)
#2 MEDIA
media = sum(lista)/len(lista)
print(f'MEDIA de la lista es: {media}')
#3 LISTA inversa
lista_inversa = sorted(lista, reverse=True)
print(lista_inversa)
#4 Numeros mayores a 50 multiplicados por 2
lista_mayores_50 = list(range(51,100,1))
[x*2 for x in lista_mayores_50]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
MEDIA de la lista es: 50.5
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

**Ejercicio 2:** Creación avanzada con listas por comprensión

* Crea una lista de los números impares entre 1 y 50.
* Genera una lista con los cubos de los primeros 10 números (1 al 10).
* Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas

In [19]:
#1 (Dos maneras)
Lista_impares=[x for x in range(1,51,2)]
print(Lista_impares)
[x for x in range(1,51) if x%2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [17]:
#2
Lista1=[x**3 for x in range(1,11)]
print(Lista1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [28]:
#3
Palabras = ['Sebastian', 'JULIO', 'JORGE', 'Jhon','ANTONIO', 'Alejandro']
[x.upper() for x in Palabras if len(x)>4]

['SEBASTIAN', 'JULIO', 'JORGE', 'ANTONIO', 'ALEJANDRO']

**Ejercicio 3:** Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:


*  Extrae los primeros 10 números
*  Extrae los últimos 10 números.
*  Extrae todos los números en posiciones impares.
*  Usa slicing para dividir una lista de palabras en dos mitades

In [29]:
Lista=list(range(1,101))
print(Lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [37]:
#1
Lista[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
#2
Lista[90:100]

[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
#3
Lista[0::2]

In [60]:
#4
Palabra=['Liberaciones']
Palabra[0][0:4]+Palabra[0][4:12]

'Liberaciones'

**Desafío 1:** Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

*Objetivo:*


* Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
* Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
* Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.
* Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.


Instrucciones:


* Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
* Calcula el total de ventas por producto usando sum() y el promedio con len().
* Usa listas por comprensión para clasificar las ventas de los producto

In [75]:
#1
Lista_camisetas=[104,112,102,108,111,123,100]
Lista_pantalones=[178,186,155,143,183,176,180]
Lista_zapatos=[132,133,142,126,128,154,143]

[111, 123, 100]

In [76]:
#2
Lista_camisetas[-3:]

[111, 123, 100]

In [73]:
#2
Lista_pantalones[-3:]

[183, 176, 180]

In [74]:
#2
Lista_zapatos[-3:]

[128, 154, 143]

In [99]:
#3
camisetas=[x for x in Lista_camisetas]
print(f'El total de ventas totales de Camisetas es: {sum(camisetas)}')
print(f'El promedio de ventas diarias de Camisetas es: {sum(camisetas)/len(camisetas)}')
pantalones=[x for x in Lista_pantalones]
print(f'El total de ventas totales de pantalones es: {sum(pantalones)}')
print(f'El promedio de ventas diarias de pantalones es: {sum(pantalones)/len(pantalones)}')
zapatos=[x for x in Lista_zapatos]
print(f'El total de ventas totales de zapatos es: {sum(zapatos)}')
print(f'El promedio de ventas diarias de zapatos es: {sum(zapatos)/len(zapatos)}')

El total de ventas totales de Camisetas es: 760
El promedio de ventas diarias de Camisetas es: 108.57142857142857
El total de ventas totales de pantalones es: 1201
El promedio de ventas diarias de pantalones es: 171.57142857142858
El total de ventas totales de zapatos es: 958
El promedio de ventas diarias de zapatos es: 136.85714285714286

In [103]:
# 4 Toda venta por dia encima del promedio, se denominaria "Buenas ventas"
BV_camisetas=[x for x in Lista_camisetas if x>=sum(camisetas)/len(camisetas)]
print(f'Buena venta de camisetas: {BV_camisetas}')
MV_camisetas=[x for x in Lista_camisetas if x<sum(camisetas)/len(camisetas)]
print(f'Mala venta de camisetas: {MV_camisetas}')
BV_pantalones=[x for x in Lista_pantalones if x>=sum(pantalones)/len(pantalones)]
print(f'Buena venta de pantalones: {BV_pantalones}')
MV_pantalones=[x for x in Lista_pantalones if x<sum(pantalones)/len(pantalones)]
print(f'Mala venta de pantalones: {MV_pantalones}')
BV_zapatos=[x for x in Lista_zapatos if x>=sum(zapatos)/len(zapatos)]
print(f'Buena venta de zapatos: {BV_zapatos}')
MV_zapatos=[x for x in Lista_zapatos if x<sum(zapatos)/len(zapatos)]
print(f'Mala venta de zapatos: {MV_zapatos}')

Buena venta de camisetas: [112, 111, 123]
Mala venta de camisetas: [104, 102, 108, 100]
Buena venta de pantalones: [178, 186, 183, 176, 180]
Mala venta de pantalones: [155, 143]
Buena venta de zapatos: [142, 154, 143]
Mala venta de zapatos: [132, 133, 126, 128]